$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin break-sm {
    @media (min-width: $break-sm) {
        @content;
    }
}
@mixin break-md {
    @media (min-width: $break-md) {
        @content;
    }
}
@mixin break-lg {
    @media (min-width: $break-lg) {
        @content;
    }
}
@mixin break-xl {
    @media (min-width: $break-xl) {
        @content;
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    flex: 0 0 auto;
}

main  {
    flex: 1 1 auto;
    overflow-y: scroll;
    position: relative;

    // .region {
    //     border: 1px solid red;
    // }
    #regionStart {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .progressBarOuter {
        background-color: rgb(230, 230, 230);
        height: 4px;
        .progressBarInner {
            height: 100%;
            background-color: black;
            width: 100%;
        }
        .progressBarTransition {
            transition: 0.5s width;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
            margin: 0px;
            padding: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
                cursor: pointer;
                background-color: gainsboro;
            }
        }
    }

    button {
        width: 100%;
        @include break-lg {
            width: 40rem;
        }
    }

    // .row {
    //     border: 1px solid green;
    // }
}

footer {
    flex: 0 0 2rem;
    color: rgb(180, 190, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}